<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979012396422-tr8cce4tpuomf7cmghiep8j8b0ireb6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979012396422-tr8cce4tpuomf7cmghiep8j8b0ireb6e</string>
	<key>API_KEY</key>
	<string>AIzaSyC1c70ovmgteori55Gk8cYd1TRqsJ_KT1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>979012396422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qmmunity.qmmunity</string>
	<key>PROJECT_ID</key>
	<string>qmmunity-d73b3</string>
	<key>STORAGE_BUCKET</key>
	<string>qmmunity-d73b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979012396422:ios:43c72459aca5f5cfcc3807</string>
</dict>
</plist>